* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#background {
    background-color: #000;
    background-image: url("../images/register-bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loginContainer * {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 1em;
}

#loginContainer button {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}

#loginContainer .form-control {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#loginContainer .form-control label {
    margin-bottom: 5px;
    font-weight: bold;
}

#loginContainer .form-control input {
    padding: 8px;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

#loginContainer .form-control input::placeholder {
    color: #fff;
    opacity: 0.7;
}

#loginContainer .form-control label {
    color: #a0a0a0;
    font-size: 13px;
    opacity: 0.7;
}

#loginContainer button {
    width: 100%;
    margin-top: 10px;
    transition: all 0.3s ease;
}

#loginContainer button:hover {
    background-color: #fff;
    color: #000;
}

#loginContainer .errorMessage {
    color: #ff0000;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

#loginContainer #inputContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#loginContainer form {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#formContainer {
    width: 480px;
    margin: 0 auto;
    padding: 45px;
    border-right: 1px solid #999;
}

#loginForm h2,
#registerForm h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#loginContainer .message {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 768px) {

    #formContainer {
        width: 100%;
        padding: 20px;
        border-right: none;
    }

    #loginContainer button {
        width: 100%;
        margin-top: 10px;
    }
}